html {
  background-color: pink;
}
section {
  display: inline-flex;
	vertical-align: top;
  flex-direction: column;
	background: black;
	border: 3px inset blue;
	margin-bottom: 1em;
	margin-right: .5em;
	width: 600px;
	height: 400px;
}
.second div:nth-child(4) {
	order: 1
}
.second div:nth-child(1) {
	order: 4
}
.second div:nth-child(2) {
	order: 3
}
.third div:nth-child(4) {
	order: -1
}
.third div:nth-child(2) {
	order: -2
}

.bis {
	display: inline-flex;
	vertical-align: top;
	flex-direction: column;
	height: auto;
	margin-right: .5em;
}

/* Decoration */
* {box-sizing: border-box}
body {
  background-image: url("../image/fond.jpg");
	margin: 20px;
	font-family: "Century Gothic", futura, arial, sans-serif;
	font-size: 1.2em;
}
div {
	padding: 10px;
	color: #fff;
}
div:first-of-type {
	background: dodgerblue;
}
div:nth-of-type(2) {
	background: orange;
}
div:nth-of-type(3) {
	background: purple;
}
div:nth-of-type(4) {
	background: hotpink;
}
div:nth-of-type(5) {
	background: cyan;
}

nav a {
  display: block;
  padding: .7em;
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  white-space: nowrap;
}
